@tailwind base;
@tailwind components;
@tailwind utilities;

.Cmp:hover .CmpChild{
  background-color: Lightblue;
  color: bl;
  border-color: lightblue;
}

h2 {
  font-weight: bold;
  font-size: 48px;
  color: hsl(213, 96%, 18%);
}

p {
  font-weight: 300;
  font-size: 24px;
}